<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="american" class="com.battlecall.spring.American">
    </bean>

    <bean id="chinese" class="com.battlecall.spring.Chinese">
    </bean>

    <!--依赖-->
    <bean class="com.battlecall.spring.test2.ConcreateToolA" id="toolA">
        <property name="name" value="test"></property>
    </bean>
    <bean class="com.battlecall.spring.test2.ConcreateToolB" id="toolB">
        <property name="name">
            <value>B的值</value>
        </property>
    </bean>
    <bean class="com.battlecall.spring.test2.Chinese" id="chinese2" autowire="default">
        <!--构造-->
        <!--<constructor-arg name="tool"><ref bean="toolB"></ref></constructor-arg>-->
        <property name="tool" ref="toolB"></property>
    </bean>

    <!--prototype 用一次创建一次，singleton只有一个-->
    <!---->
    <bean class="com.battlecall.spring.test3.Dog" id="dog" scope="singleton"></bean>
    <bean class="com.battlecall.spring.test3.Chinese" id="chinese3">
        <property name="list">
            <list>
                <value>a</value>
                <value>b</value>
                <ref bean="dog"></ref>
               <bean class="com.battlecall.spring.test3.Dog"></bean>
            </list>
        </property>

        <property name="map">
            <map>
                <entry key="cjl">
                    <value>hy</value>
                </entry>
                <entry key="hy">
                    <value>cjl</value>
                </entry>
                <entry key="cjl">
                    <value>none</value>
                </entry>
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="key1">value1</prop>
                <prop key="key2">value2</prop>
            </props>
        </property>
        <property name="set">
            <set>
                <value>value1</value>
                <value>value2</value>
                <ref bean="dog"></ref>
                <!--引用，此处添加无效-->
                <ref bean="dog"></ref>
            </set>
        </property>
    </bean>


    <!--生命周期-->
    <bean class="com.battlecall.spring.test5.ConcreateTool" id="concreateTool"></bean>
    <bean class="com.battlecall.spring.test5.Chinese" id="life_chinese" init-method="myInit" destroy-method="myDestroy">
        <property name="tool">
            <ref bean="concreateTool"></ref>
        </property>
    </bean>


    <bean class="com.battlecall.spring.aop.PersonImpl" id="person">
        <property name="name" value="hy"></property>
        <property name="address" value="zhuchen"></property>
    </bean>
</beans>