<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="american" class="com.battlecall.spring.American">
    </bean>

    <bean id="chinese" class="com.battlecall.spring.Chinese">
    </bean>

    <!--依赖-->
    <bean class="com.battlecall.spring.test2.ConcreateToolA" id="toolA"></bean>
    <bean class="com.battlecall.spring.test2.ConcreateToolB" id="toolB"></bean>
    <bean class="com.battlecall.spring.test2.Chinese" id="chinese2" autowire="default">
        <!--构造-->
        <!--<constructor-arg name="tool"><ref bean="toolB"></ref></constructor-arg>-->
        <property name="tool" ref="toolA"></property>
    </bean>
</beans>