<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="american" class="com.battlecall.spring.American">
    </bean>

    <bean id="chinese" class="com.battlecall.spring.Chinese">
    </bean>
</beans>